html{
    font-size: 62.5%;
}

body{
    overflow-x: none;
    width: 100%;
    margin: auto;
    height: 100%;
    background-color: #eaf3f7;
}

.Title{
    width: 95%;
    height: 57rem;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    background-image: url(img/LISO7copy1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-duration: 2s;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

.name{
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-size: 10rem;
    padding-top: 15rem;
    color: white;
}

.About{
  text-align: center;
  font-size: 7rem;
  padding-top: 8rem;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-emphasis: 1rem;
}

.Biography{
  max-height: 90rem;
  padding: 5rem;
  display: flex;
  flex-direction: row;
}

.paragraph{
  margin: auto;
  height: 90rem;
  width: 100%;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-size: 5rem;
  padding-top: 5rem;
}

.content{
  height: 35rem;
  width: 70%;
  margin: auto;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-size: 5rem;
  padding-top: 5rem;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.student{
    overflow: none;
    max-width: 30rem;
    max-height: 60rem;
    color: #131313;
    background-color: #D5C3A5;
    letter-spacing: .15rem;
    transition: all 1s;
    position: relative;
}

.description{
  width: 50rem;
  font-size: 2rem;
  max-height: 50%;
  z-index: 50;
  text-align: center;
  border:0.5rem solid black;
  background-color: #D5C3A5;
}

.content2{
  border:1px solid black;
  height: 40rem;
  width: 70%;
  margin: auto;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-size: 5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: black;
}

.MITlogo{
  transform: scale(0.7);
  margin: auto;
}

.description2{
  width: 50rem;
  font-size: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  font-weight: bold;
  color: black;
  margin: auto;
  border:0.5rem solid gray;
  background-color: #A31F34;
}

.projects{
  padding-top: 10rem;
  padding-bottom: 5rem;
  margin: auto;
  text-align: center;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-emphasis: 1rem;
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eaf3f7;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #BC8F56;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

section.cms-boxes .cms-boxes-outer {
  text-align: left;
  margin-bottom: 6px;
  padding: 0 3px;
}

section.cms-boxes .cms-boxes-outer .cms-boxes-items {
  height: 350px;
  display: table;
  width: 100%;
}

section.cms-boxes .cms-features {
  background-color: #b70457;
  background-size: cover;
}

section.cms-boxes .boxes-align {
  display: table-cell;
  vertical-align: middle;
}

section.cms-boxes .small-box, section.cms-boxes .large-box {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

section.cms-boxes .cms-boxes-items h3 {
  font-size: 35px;
  color: #fff;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

section.cms-boxes .cms-boxes-outer .cms-boxes-items p {
  color: #fff;
}

section.cms-boxes .boxes-align {
  display: table-cell;
  vertical-align: middle;
}

section.cms-boxes .cms-boxes-outer .cms-boxes-items {
  height: 350px;
  display: table;
  width: 100%;
}

section.cms-boxes .cms-features {
  background-color: #b70457;
  background-size: cover;
}

section.cms-boxes .cms-boxes-outer .cms-boxes-items {
  height: 350px;
  display: table;
  width: 100%;
}

section.cms-boxes .cms-security {
  background-color: #0489b7;
}

section.cms-boxes .cms-security, section.cms-boxes .cms-documentation {
  background-color: rgb(66, 16, 88);
}

section.cms-boxes .cms-scalability {
  background: url(images/scalability.jpg) 0 0 no-repeat;
  background-size: cover;
}

section.cms-boxes .cms-boxes-outer {
  text-align: left;
  margin-bottom: 6px;
  padding: 0 3px;
}

section.cms-boxes .cms-built {
  background: url(images/customer-service.jpg) 0 0 no-repeat;
  background-size: cover;
}

section.cms-boxes .cms-security, section.cms-boxes .cms-documentation {
  background-color:#23b8b5;
}
section.cms-boxes .cms-boxes-items:hover {
opacity: .2;
cursor: pointer;
}