html{
    font-size: 62.5%;
}

body{
    overflow-x: none;
    width: 100%;
    margin: auto;
    height: 100%;
    background-color: #eaf3f7;
}

.Title{
    width: 95%;
    height: 57rem;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    background-image: url(img/LISO7copy1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-duration: 2s;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

.name{
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-size: 10rem;
    padding-top: 15rem;
    color: white;
}

.About{
  text-align: center;
  font-size: 5rem;
  padding-top: 8rem;
}

.Biography{
  max-height: 90rem;
  padding: 5rem;
  display: flex;
  flex-direction: row;
}

.paragraph{
  margin: auto;
  height: 90rem;
  width: 100%;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-size: 5rem;
  padding-top: 5rem;
}

.content{
  height: 20rem;
  width: 100%;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-size: 5rem;
  padding-top: 5rem;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.student{
    overflow: none;
    width: 15rem;
    height: 7rem;
    max-height: 15rem;
    color: #131313;
    background-color: #D5C3A5;
    letter-spacing: .15rem;
    transition: all 1s;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
    position: relative;
}

.description{
  width: 50rem;
  font-size: 2rem;
  border: black;
  z-index: 50;
}

.content2{
  height: 40rem;
  width: 100%;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-size: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.MITlogo{
  overflow: none;
  width: 15rem;
  height: 7rem;
  margin: auto;
}

.description2{
  width: 50rem;
  font-size: 2rem;
  border: black;
  z-index: 50;
}

.projects{
  padding-top: 5rem;
  margin: auto;
  text-align: center;
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eaf3f7;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #BC8F56;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

section.cms-boxes .cms-boxes-outer {
  text-align: left;
  margin-bottom: 6px;
  padding: 0 3px;
}

section.cms-boxes .cms-boxes-outer .cms-boxes-items {
  height: 350px;
  display: table;
  width: 100%;
}

section.cms-boxes .cms-features {
  background-color: #b70457;
  background-size: cover;
}

section.cms-boxes .boxes-align {
  display: table-cell;
  vertical-align: middle;
}

section.cms-boxes .small-box, section.cms-boxes .large-box {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

section.cms-boxes .cms-boxes-items h3 {
  font-size: 35px;
  color: #fff;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

section.cms-boxes .cms-boxes-outer .cms-boxes-items p {
  color: #fff;
}

section.cms-boxes .boxes-align {
  display: table-cell;
  vertical-align: middle;
}

section.cms-boxes .cms-boxes-outer .cms-boxes-items {
  height: 350px;
  display: table;
  width: 100%;
}

section.cms-boxes .cms-features {
  background-color: #b70457;
  background-size: cover;
}

section.cms-boxes .cms-boxes-outer .cms-boxes-items {
  height: 350px;
  display: table;
  width: 100%;
}

section.cms-boxes .cms-security {
  background-color: #0489b7;
}

section.cms-boxes .cms-security, section.cms-boxes .cms-documentation {
  background-color: rgb(66, 16, 88);
}

section.cms-boxes .cms-scalability {
  background: url(images/scalability.jpg) 0 0 no-repeat;
  background-size: cover;
}

section.cms-boxes .cms-boxes-outer {
  text-align: left;
  margin-bottom: 6px;
  padding: 0 3px;
}

section.cms-boxes .cms-built {
  background: url(images/customer-service.jpg) 0 0 no-repeat;
  background-size: cover;
}

section.cms-boxes .cms-security, section.cms-boxes .cms-documentation {
  background-color:#23b8b5;
}
section.cms-boxes .cms-boxes-items:hover {
opacity: .2;
cursor: pointer;
}